body {
	background-color: rgb(34,34,34);
	color: white;
}

iframe {
	border: 0px;
}

.logo {
	margin-top: 15px;
	text-align: center;
}

.logo img {
	display: inline-block;
	max-height: 320px;
	max-width: 100%;
}

.logo-text {
	font-family: Arial;
	font-size: 30px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	bottom: 120px;
	width: 150px;
}

.logo-text:hover {
	background: rgba(34,34,34,0.5)
}