body {
	background-color: rgb(34,34,34);
	overflow: hidden;
}

canvas {
	background-color: rgb(34,34,34);
}

#tetris_canvas {
	border: solid 1px white;
}

.tetris {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.instructions {
	margin-top: 12px;
}

.game_commands {
	display: flex;
	flex-direction: column;
	max-width: 100px;
}

.game_commands p {
	text-align: center;
}